{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ category.name }}</h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
    <tr>
        <td>{{ article.title }}</td>
        <td>{{ article.content }}</td>
        <td>{% if article.createdAt %}{{ article.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
