{% extends 'base.html.twig' %}

{% block body %}
    {# categories \AppBundle\Entity\Category[] #}
    {% for category in categories %}
        <div>{{ category.name }}</div>
    {% endfor %}
{% endblock %}